// Import page-specific CSS files here.
@import "../components/card_list";
@import "../components/cards_container";
@import "../components/banner";

h3 {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom:1.2%;
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-weight: bold;
}
