.bookmark-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  margin-top: 4%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 21px;
}
